* {
    box-sizing: border-box;
}
body{
background: white;
}
.wrapper{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50% auto;
    border:0px solid black;
    width: 100%;
    height: auto;
}
.header{
    grid-column: span 12; 
    border:0px solid black;
    background:url('Images/black.png');
    height:7%;
}
.content{
    grid-column: span 12;
    border:0px solid black;
    background:url('Images/camera-classic-coffee-407294.jpg');
    background-size:cover;  
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
    padding: 0px 0px 0px 65%;
    margin: 0px;
    width: 100%;   
    background: url('Images/black.png');
}
a{
    display: block;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: white;
}
li{
    float: left;
}
@media screen and (max-width: 680px){
    .header{
       grid-column: span 12;
    }
    .content{
        grid-column: span 12;
    }
    ul{
        align-self: center;
    }
}
.heading{
    margin: 17% 0% 15% 5%;
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 7%;
}
.black{
    background-color:white ;
    font-family:'lobster';
    color:black;
    padding: 0;
    margin:auto;
    width:30%;
}
.white{
    background-color:black ;
    font-family:'lucida sans unicode', sans-serif;
    color:white;
    padding: 0;
    margin:auto;
    width:20%;
}
.work{
    grid-column: span 12;
    border:0px solid black;
    background:whitesmoke;
    width:100%;
    border-bottom: 5px solid white;
 
}
.work_heading,.about_heading{
    margin-top: 20px;
    text-align: center;
    color:white;
    font-family:'lucida sans unicode', sans-serif;
    font-size: 35px;
    
}
.about_heading{
    color: black;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 24%;
    text-align: center;
    
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.block {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.about{
    color:black;
    grid-column: span 12;
    border:0px solid red;
    background:#99cccc;
    width:100%;
    height:100%;
    padding-bottom: 7%;
    margin-bottom:0%;
    border-bottom: 4px solid white;
 
}
.writing{
    margin-top: 3%;
    margin-left:5%;
    color: white;
    width:45%;
    border:0px solid white;
    overflow: hidden;
    border-right: 1px solid white;
    float:left;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10%;
    
}
.contact{
    margin-top: 3%;
    overflow: hidden;
    color: white;
    float: right;
    border:0px solid white;
    width:40%;
    text-align: center;
    padding-right: 7%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 10%;
    
    }
.image{
    width:200px;
    height: 200px;
    border-radius: 200px;
    border:6px solid white;
    margin-bottom: 10%;
    text-align: center;

   
}
.art{
    height: 207px;
}
.article-content{
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
    padding: 9px 15px 5px 15px;
    display: block;
    box-sizing: border-box;
}
.column {
    width: 25%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    

    }
.footer{
    grid-column: span 12; 
    border:1px solid black;
    background: black;
    width: 100%;
    text-align: center;
    height: 150%;
}
.rights{
    padding:15px 5px 3px 5px;
    margin: 0%;
    text-align: center;
    color:white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
